@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  background: url("./imgs/stars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  overflow-y: hidden;
  color: yellow;
  font-family: 'Press Start 2P', cursive;
}

@keyframes BorderTick {
  from {
    border-style: solid;
    border-width: .25px;
  }
  to {
    border-style: double;
    border-width: 20px;    
  }
}

@keyframes SmallBorderTick {
  from {
    border-style: solid;
    border-width: .10px;
  }
  to {
    border-style: double;
    border-width: 10px;
    border-color: transparent;    
  }
}

@keyframes InputFlash {
  from {
    color: yellow;
  }
  to {
    color: red;    
  }
}

.destroyed {
  background: url("./imgs/splode.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.earth {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 30%;
  left: -10%;
  background: url("./imgs/earth.png"), rgba(250, 250, 249, 0.11);
  background-position: center;
  background-repeat: no-repeat; 
  border-radius: 100%;
  border: 10px solid;
}

.earth.border-success {
  animation: BorderTick 1s infinite;
}

.earth.border-warning {
  animation: BorderTick 1s infinite;
}

.earth.border-danger {
  animation: BorderTick 1s infinite;
}

.home-earth {
  height: 400px;
  margin-top: 50px;
  width: auto;
  background: url("./imgs/earth.png");
  background-position: center;
  background-repeat: no-repeat;
}

.home-controls {
  margin-top: 400px;
}

.instructions {
  background: rgba(0, 0, 0, 0.801);
}

.bg-dark {
  background: url("./imgs/stars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stats {
  color: white;
}

.lightning {
  background-image: url("./imgs/earthExplosion.gif");
  background-size: contain;
  background-position: center;
  height: 500px;
  width: 800px;
  top: 14%;
  left: 38.5%;
  background-blend-mode: difference;
  position: absolute;
  visibility: hidden;
}

.spinner-grow {
  background: url("./imgs/earth.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#shame-alert {
  background: black;
  border: yellow double;
  color: whitesmoke;
}

.score-table-head {
  text-decoration: underline;
  text-decoration-color: tomato;
}