@keyframes WallMotion {
    from {
      transform: translateY(-110%);
      /* height: 50px; */
    }
    to {
      transform: translateY(0%);
      /* height: 300px; */
    }
  }

  @keyframes WallFlash {
    from {
      border: 1px dotted tomato;
      background: url("../../imgs/red_cloud.gif");
      background-size: contain;
      background-repeat: round;
    }
    to {
      border: 10px whitesmoke;
      background: url("../../imgs/red_cloud.gif");
      background-size: contain;
      background-repeat: round;
    }
  }

.wall {
    background: repeating-linear-gradient(black, silver, black);
    /* background-color: tomato; */
    animation: WallMotion infinite alternate 4s;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 300px;
    border: solid 7px whitesmoke;
}

.wallAlternate {
  border: 7px dotted whitesmoke;
  background: url("../../imgs/red_cloud.gif");
  background-size: contain;
  background-repeat: round;
  animation: WallMotion infinite alternate 4s;
             /* WallFlash infinite .25s; */
  position: absolute;
  top: 50%;
  right: 50%;
  height: 300px;
}

.wall2 {
    background: repeating-linear-gradient(red, orange, tomato);
    /* background-size: contain;
    background-repeat: round; */
    /* background-color: tomato; */
    animation: WallMotion infinite alternate 3s;
    position: absolute;
    top: 60%;
    right: 60%;
}