@keyframes WallMotion {
    from {
      top: 0%;
      /* height: 50px; */
    }
    to {
      top: 60%;
      /* height: 300px; */
    }
  }

  @keyframes WallFlash {
    from {
      border: 1px dotted fuchsia;
    }
    to {
      border: 10px whitesmoke;
    }
  }

.wall {
    background: repeating-linear-gradient(red, orange, tomato);
    /* background-size: contain;
    background-repeat: round; */
    /* background-color: tomato; */
    animation: WallMotion infinite alternate 2s;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 300px;
}

.wallAlternate {
  background: repeating-linear-gradient(rgb(47, 0, 255), rgb(229, 255, 0), rgb(71, 197, 255));
  animation: WallMotion infinite alternate 2s,
             WallFlash infinite .25s;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 300px;
}

.wall2 {
    background: repeating-linear-gradient(red, orange, tomato);
    /* background-size: contain;
    background-repeat: round; */
    /* background-color: tomato; */
    animation: WallMotion infinite alternate 3s;
    position: absolute;
    top: 60%;
    right: 60%;
}