@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#search {
    text-align: center;
    background: transparent;
    border: solid yellow;
    animation: InputFlash .5s infinite alternate;
  }
  
  #search::placeholder {
    color: rgba(255, 255, 255, 0.486);
    font-size: xx-small;
  }
  
  input:focus {
    border: unset;
  }
  
  /* .table-responsive {
    overflow-y: auto;
    max-height: 550px;
  } */

  .score-table {
    animation: FadeIn 3s;
    background: rgba(0, 0, 0, 0.637);
    max-height: 450px;
    overflow: auto;
  }