@keyframes SpecialRotate {
  33% {
    opacity: .3;
  }
  66% {
    opacity: 0;   
  }
  100% {
    opacity: 1;
  }
}

.specialMissle {
    background-image: url("../../imgs/special_orb.gif");
    background-size: cover;
    background-position: center;
    background-repeat: round;
    height: 150px;
    width: 150px;
    top: 35%;
    left: 40%;
    position: absolute;
    visibility: hidden;
    animation: SpecialRotate 2s;
  }