
.light:hover {
  background: url("../../imgs/arcade-pressed.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-decoration-line: none;
  animation: Flash .25s infinite alternate;
}

.btn-outline-light.two {
  background: url("../../imgs/arcade-button.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-decoration-line: none;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.light {
  background: url("../../imgs/arcade-button.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-decoration-line: none;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border: unset;
  color: white;
}

.light.pressed {
  background: url("../../imgs/arcade-pressed.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-decoration-line: none;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border: unset;
  color: white;
}

.btn-outline-light.pressed.two {
  background: url("../../imgs/arcade-pressed.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-decoration-line: none;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

/* .btn-outline-light:focus {
  background: url("../../imgs/arcade-button.png");
  background-blend-mode: difference;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-decoration-line: none;
  animation: Flash .25s infinite alternate;
} */