
.btn-outline-light:hover {
  background: url("../../imgs/ship6.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration-line: none;
  animation: Flash .25s infinite alternate;
  outline: double tomato;
}

.btn-outline-light {
  color: whitesmoke;
  text-decoration-color: transparent !important;
  background: transparent;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.btn-outline-light:focus {
  background: url("../../imgs/ship6.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration-line: none;
  animation: Flash .25s infinite alternate;
}