/* @keyframes FadeRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);  
  }
} */

.score-table {
  animation: FadeRight 2s;
  background: rgba(0, 0, 0, 0.637);
  max-height: 450px;
  /* min-height: 300px; */
  overflow: auto;
  box-shadow: 0 0 5px 5px rgba(227, 247, 248, 0.767);
  border-radius: 1%;
}

.score-table-head {
  text-decoration: underline;
  text-decoration-color: tomato;
}