.score-table {
  animation: FadeIn 3s;
  background: rgba(0, 0, 0, 0.637);
  max-height: 450px;
  /* min-height: 300px; */
  overflow: auto;
  border: double whitesmoke;
}

.score-table-head {
  border: 2px double tomato;
  text-decoration: underline;
  text-decoration-color: tomato;
}