@keyframes Motion {
  from {
    top: 20%;
  }
  to {
    top: 70%;
  }
}

@keyframes Motion2 {
  from {
    top: 85%;
  }
  to {
    top: 60%;
  }
}

@keyframes Motion3 {
  0% {
    top: 50%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 10%;
  }
}

@keyframes Motion4 {
  0% {
    top: 85%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 50%;
  }
}

@keyframes Tick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

.target {
  background: url("../../imgs/suprise.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: Motion 5s infinite alternate,
            Tick .75s infinite alternate;
  position: fixed;
}

.target2 {
  background: url("../../imgs/trump.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(15deg);
  animation: Motion 3s infinite alternate,
            Tick .75s infinite alternate;
  position: fixed;
}

.target3 {
  background: url("../../imgs/trump-kiss.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: Motion 2s infinite alternate,
            Tick .75s infinite alternate;
  position: fixed;
}

.target4 {
  background: url("../../imgs/trump.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: Motion 2.5s infinite alternate,
            Tick .25s infinite alternate;
  position: fixed;
}

.destroyAll {
  background: url('../../imgs/big-bang.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}