@keyframes Motion {
  from {
    top: 0%;
  }
  to {
    top: 75%;
  }
}

@keyframes Motion2 {
  from {
    top: 85%;
  }
  to {
    top: 60%;
  }
}

@keyframes Motion3 {
  0% {
    top: 50%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 10%;
  }
}

@keyframes Motion4 {
  0% {
    top: 85%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 50%;
  }
}

.target {
  background: url("../../imgs/enemy.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: Motion 2s infinite alternate;
  position: fixed;
  transform: rotate(-90deg);
}

.target2 {
  background: url("../../imgs/enemy.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: Motion2 2.5s infinite alternate;
  position: fixed;
  transform: rotate(-90deg);
}

.target3 {
  background: url("../../imgs/enemy.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: Motion3 3s infinite alternate;
  position: fixed;
  transform: rotate(-90deg);
}

.target4 {
  background: url("../../imgs/enemy.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: Motion4 3.5s infinite alternate;
  position: fixed;
  transform: rotate(-90deg);
}

.destroyAll {
  background: url('../../imgs/big-bang.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}